<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Blinky-Lite</h1>
            <hr>
        </div>
        <div class="header-content-inner" style="padding-top:30px;">
            <a href="/myapps" class="btn btn-primary btn-xl page-scroll">Internal Apps</a>
        </div>
        <div class="header-content-inner" style="padding-top:30px;">
            <a href="/myapps?external" class="btn btn-primary btn-xl page-scroll">External Apps</a>
        </div>
   </div>
</div>
</header>
