       :root 
        {
            --color1          :   #083357;
            --color2          :   #c6c2bb;
            --color3          :   #e7e7e7;
            --color4          :   #c6c2bb;
            --color5          :   #ffffff;
            --color6          :   #487895;
          --big-text-size :300%;
          --medium-text-size :200%;
          --bold-text :900;
          --vert-pad : 25px;
          --horz-pad : 25px;
        }

